
.todoListMain{
  display: flex;
  justify-content: center;
}

.todoListMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
  width: 300px;
  outline: 0;
}

.todoListMain .header button {
  width: 70px;
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}
 
.todoListMain .header button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}

.theList {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
}

.theList li{
  color: black;
  margin-bottom: 15px;
}
 